@import 'reset';

html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
}

.container {
  display: flex;  /* use the flex model */
  min-height: 100%;
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}

.content {
  flex: 1;
}

// header
.header {
  background-color: #eaebed;
  padding: 10px 0;
  text-align: center;

  h1 {
    color: #418fcd;
  }
}

.hamburguer-menu {
  display: none;
}

// content
.content-banner {
  position: relative;
}

.content-banner-title {
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 1;
}

.content-banner-image {
  display: block;
  height: auto;
  max-width: 100% !important;
}

.content-list {

  .item {
    border-bottom: 1px solid #c4cccf;
    display: block;
    padding: 30px 15px;
    position: relative;
    text-decoration: none;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent transparent transparent #438ecd;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }
}

// footer
.footer {
  background-color: #232d37;
  padding: 25px 0;
  text-align: center;

  p {
    color: #465769;

    a {
      color: inherit;
    }
  }

  p:first-child {
    margin-bottom: 25px;
  }
}