@font-face {
    font-family: 'SensationsandQualities';
    src: url('../fonts/SensationsandQualities.eot');
    src: url('../fonts/SensationsandQualities.eot') format('embedded-opentype'),
         url('../fonts/SensationsandQualities.woff2') format('woff2'),
         url('../fonts/SensationsandQualities.woff') format('woff'),
         url('../fonts/SensationsandQualities.ttf') format('truetype'),
         url('../fonts/SensationsandQualities.svg#SensationsandQualities') format('svg');
}
