@import 'menu';
@import 'fonts';

.menu {
    background-color: gray;
    margin-top: -10px;
    padding: 10px!important;
    svg {
        margin: 0 2px;
        &:hover {
            path {
                fill: blue;
            }
        }
    } 
}

.modal-dialog {
    background: url('../img/popup-background.png') no-repeat center;
}

.title {
    color: #304a83;
    text-align: center;
}

.signature {
    margin-top: 20px;
    text-align: center;
    p {
        display: inline-block;
    }
}

.sub-title {
    font-size: 25px;
    max-width: 580px;
    margin: 25px auto;
    margin-top: 50px;
    color: #4c4d4f;
    text-align: center;
    h3 {
        // font-size: 2em;
    }
}

.text {
    margin-top: 20px;
}

header {
    font-weight: bolder;
    text-align: center;
    .arrow, .pipe {
        color: #818285;
        margin: 0;
        display: inline-block;
        font-size: 1.5em;
    }
    .left {}
    .right {}
}

.opa0{opacity: 0;}