@import 'global';

.text {
    text-align: center;
}

.icons {
    text-align: center;
    margin-top: 20px;
    div { height: 140px; }
    img {
        max-width: 100px;
        margin: 10px auto;
    }

}

.sub-title {
    max-width: 100%;
    margin-bottom: 0;
    .icon-container {
        width: 480px;
        margin: 0 auto;
        .icon {
            pointer-events: bounding-box;
            cursor: pointer;
            &:hover {
                fill: #20407D!important;
            }
        }
    }
}

.arrows {
    margin:0 auto;
    text-align: center;
}