@import 'global';

.sub-title {
    font-size: 25px;
    max-width: 580px;
    margin: 25px auto;
}

.title {
    max-width: 580px;
    margin: 0 auto;
}

.text {
    max-width: 580px;
    margin: 20px auto 0;
}

.arrow {
    text-align: right;
    svg {
        transform: scaleX(-1);
    }
}

aside {
    overflow: hidden;
    margin-top: 10%;
    .postix {
        &.socios {
            background: url('../img/cloud.png') no-repeat center; 
            width: 250px;
        }
        &.puertas {
            background: url('../img/persons.png') no-repeat center;
            transform: rotate(-50deg);
            width: 194px;
        }
        // width: 535px;
        height: 232px;
        margin: 0 auto;
    }
}

footer {
    .postix {
        background: url('../img/persons.png') no-repeat center;
        width: 535px;
        height: 232px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: calc(50% - 263px);
        transform: rotate(-23deg);
    }
}