@import 'global';

.text {
    font-size: 1.9em;
    margin: 70px auto 0;
    text-align: center;
    width: 575px;
    color: #88898a;
}

footer {
    .postix {
        background: url('../img/vision_background.png') no-repeat center;
        background-size: contain;
        width: 900px;
        height: 250px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: calc(50% - 450px);
    }
}