@import "colors";
@import "mixins";

.lighter { font-weight: lighter; }

.hidden { display: none; }

.bold { font-weight: bolder; }

.button-menu {
  font-size: 16px;
  min-width: 165px;
  color: $green;
  @include border-radius(20px);
  border: 0.5px solid $green;
  background-color: transparent;
  margin: 0 10px 10px;
  padding: 5px;
}

form, button { *:focus { outline: none; } }

.search-form {

  margin-bottom: 10px;

  input, button {
    height: 68px;
    border: 0;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .twitter-typeahead {
    // width: 60%;
    width: 70%!important;
    margin-right: -4px;
    text-align: left;
    font-size: 16px;
    margin-left: 0!important;
    input {
      width: 100%;
      margin-right: -5px;
      margin-top: -21px;
      padding-left: 30px;
      color: $gray;
      @include border-radius(35px 0 0 35px);
      font-size: 23px;
    }
    pre {
      margin: 20px 0 0 30px;
      @include border-radius(10px);
      background: white;
      box-shadow: black;
    }

    .tt-hint {
        color: #999;
    }

    .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
        width: 422px;
        margin: 12px 0 0 20px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        color: $gray;
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }

  }

  button {
    width: 15%;
    margin-left: -4px;
    font-size: 23px;
    @include border-radius(0 35px 35px 0);
    background-color: $green;
    padding-left: 10px;
    &::before {
      content: '';
      margin: -4px -20px 0 0;
      width: 35px;
      height: 35px;
      background-image: url('../img/search.svg');
      float: left;
    }
    // Media
    @media only screen and ( max-width: 950px )  {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.square {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  &.blue {background-color: $light-blue;}
  &.green {background-color: #8bc229;}
  &.orange {background-color: #ff9900;}
  &.fuccia {background-color: #ff2965;}
  &.violet {background-color: #b42cbc;}
  &.soft-blue {background-color: #00bbd8;}
}

.button {
  width: 150px;
  height: 45px;

  border: 0;

  border-radius: 5px;

  background: $light-green;

  color: white;
  font-weight: bolder;
  font-size: 16px;
}

#breadcrumb {
  font-size: 18px;
  font-weight: 100;
  background-color: transparent;
  li {
    a {
      color: white;
      &.active {
        font-weight: bolder;
      }
    }
  }
}

#message-box {
  border: .8px solid #e1e1e1;
  background-color: #f6f4f5;
  min-height: 80px;
  padding-top: 13px;
  padding-left: 15%;
  margin: 0 auto;
  .icon {
    width: 80px;
    text-align: right;
  }
  .message {
    padding-top: 12px;
    text-align: left;
    font-size: 20px;
    color: $green;
  }
  .wrapper {
  }
}
