.container {
  .content {
    .header-box {
        height: 340px;
        .header-wrapper {
          .search {
            margin: 0;
            text-align: left;
            h2 { font-size: 30px; }
            h3 { font-size: 25px; }
          }
        }
    }
    .section {
      width: 100%;
      text-align: center;
      .article {
          width: 75%;
          margin: 0 auto;
          h2 {
            text-align: left;
          }
          .item-container {
            width: 100%;
            .item {
              width: 80%;
              height: 100px;

              border: 0.01px solid gray;

              padding: 10px;

              p { float: left; }

              button { float: right; }
            }
          }
      }
    }
  }
}
