@import "mixins";
@import "colors";

.container {
  .content {
    .header-box {
        height: 340px;
        background-position-y: -180px;
        .header-wrapper {
          .search {
            padding-top: 400px!important;
            margin: 0;
            text-align: left!important;
            h1 {
              font-size: 30px;
              margin-left: 14px;
            }
            .breadcrumb {
              font-size: 25px;
              background-color: transparent;
              li {
                a {
                  color: white;
                }
              }
            }
          }
        }
    }
    .section {
      width: 100%;
      text-align: center;
      .article {
          width: 1024px;
          margin: 0 auto;
          h2 {
            text-align: left;
            color: $gray;
          }
          .item-container {
            width: 70%;
            float: left;
            .item {
              height: 100px;

              margin-bottom: -1px;
              border-bottom: 0;

              border: 0.01px solid rgba(85, 85, 85, 0.18);

              padding: 10px;

              .item-wrapper {
                width: 95%;

                padding-top: 20px;
                margin: 0 auto;

                display: inline-block;

                p {
                  font-size: 20px;
                  color: $green;
                  float: left;
                }

                button {
                  width: 200px;
                  height: 50px;

                  float: right;

                  background-color: $green;

                  border: 0;
                  @include border-radius(35px);

                  color: white;
                }
              }

            }
          }
          .banner {
            width: 25%;
            height: 400px;
            border: 0.01px solid rgba(85, 85, 85, 0.18);
            float: right;
          }
          @media only screen and (max-width: 1135px ) {
            margin: 20px;
            width: auto;
          }
      }
    }
  }
}

@media only screen and (max-width: 1135px) {
  .container {
    .content {
      .header-box {}
      .section {
        .article {
          .item-container {
            width: 100%!important;
            .item {
              height: auto!important;
              float: none!important;
              .item-wrapper {
                p, button {
                  float: none!important;
                }
              }
            }
          }
        }
      }
    }
  }
}
