@import "mixins";
@import "colors";

.container {
  .content {
    .header-box {
      // height: 300px!important;
      background-position: bottom!important;
        .header-wrapper {
          .search {
            padding-top: 180px!important;
            margin: 0;
            text-align: left!important;
            h1 {
              font-size: 30px;
              margin-left: 14px;
            }
          }
        }
    }
    .section {
      width: 100%;
      text-align: center;
      .article {
        // width: 1024px;
        margin: 0 20px;
        padding: 20px;
        h2 {
          text-align: left;
          color: $gray;
          font-size: 18px;
          padding-bottom: 15px;
        }
        .item-container {
          margin-bottom: 20px;
          .item {

            height: auto;
            min-height: 75px;

            padding: 13px;
            margin-bottom: -1px;

            border: 1px solid #e1e1e1;
            .item-text {
              padding-top: 12px;
              text-align: left;

              color: $green;

              font-size: 18px;
              font-weight: 100;

              @media only screen and (max-width: 768px) {
                text-align: center;
              }
            }
            .item-button {
              .button {
                @include border-radius(25px);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1135px) {
  .container {
    .content {
      .header-box {}
      .section {
        .article {

          .item-container {
            .item {
              .item-text {}
              .item-button {}
            }
          }

        }
      }
    }
  }
}
