@import "mixins";
@import "colors";

.border{border:1px solid black;}

.container {
  .content {
    margin-top: 50px;
    .content-wrapper {
      width: 1140px;
      margin: 0 auto;
      padding: 30px;
      .row {
        margin-bottom: 20px;
      }
      .first-column, .second-column {
        padding: 20px;
      }
      .first-column {
        color: #393939;
        .row {
          .pay-row {
            width: 100%;
            height: 80px;

            margin-bottom: -1px;

            @include flexbox;
            @include align-items(center);

            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;

            &.selected {
              background-color: #f6f4f5;
            }

            .pay-row-wrapper {
              width: 100%;
              margin-top: 5px;
              .check-box, .cuotas-box, .cards-box {
              }
              .check-box {
                height: 30px;
                overflow: hidden;
                margin-top: 10px;
                padding-left: 25px;
                margin-right: -15px;
                input {
                  @include border-radius(50%);
                }
              }
              .cuotas-box {
                font-size: 32px;
                font-weight: bolder;
                padding-left: 0;
                p {
                  margin-bottom: 0;
                }
              }
              .no-tax-box {
                width: 70px;
                border: 1px solid #31a39b;
                @include border-radius(2px);
                text-align: center;

                .no-tax-box-wrapper {
                  .row {
                    margin-top: 0;
                    margin-bottom: 0;
                    p {
                      margin-bottom: 0;
                    }
                  }
                  .row:nth-child(1) {
                    background-color: #31a39b;
                    border: 0;
                    p {
                      color: white;
                    }
                  }
                  .row:nth-child(2) {
                    p {
                      font-size: 13px;
                    }
                  }
                }
              }
              .tax-box {
                .tax-box-wrapper {
                  .row {
                    margin-top: 12px;
                    margin-bottom: 0;
                  }
                  p {
                    color: $green;
                  }
                }
              }
              .cards-box {
                height: 30px;
                margin-top: 3px;
                overflow: hidden;
                float: right;
                .card {
                  width: 50px;
                  height: 30px;
                  margin-left: 5px;
                  float: right;
                  border: 1px solid black;
                }

                &.adjust {
                  @media only screen and (max-width:1080px) {
                    width: 74%;
                  }
                  @media only screen and (max-width:726px) {
                    width: 61%;
                  }
                }
              }
            }
          }
        }

        .artist-container {
          border: 1px solid #e1e1e1;
          background-color: #f6f4f5;

          .column-left {
            margin-left: -15px;
          }
          .column-right {
            margin: 10px 0 0 10px;
            h2 {
              font-size: 18px;
            }
          }
          @media only screen and (max-width: 1215px) {
              margin-right: -5px;
          }
        }
        @media only screen and (max-width: 1215px) {
          margin: 0;
        }
      }
      .second-column {
        width: 320px;

        position: fixed;

        top: 100px;
        left: 65%;

        padding: 0 15px;
        border: 1px solid #cacaca;

        .location-container {
          margin-left: -30px;
          margin-bottom: 10px;
          p {
            color: black;
            font-weight: bolder;
            margin-left: -15px;
          }
        }

        h2 {
          margin-top: 15px;
          font-size: 24px;
          font-weight: bolder;
        }

        p {
          color: #727272;
          font-size: 20px;
        }

        span {
          font-size: 16px;
          color: #BCBCAB;
        }

        .resumen-container {
          background-color: #f6f4f5;
          height: auto;
          margin: 0 -15px;
          // padding-bottom: -15px;
          .row, p {
            margin-bottom: 0;
            font-size: 16px;
          }
          .resumen-wrapper {
            margin: 0 15px;
            .row {
              div:nth-child(2){
                text-align: right;
              }
            }
            h4 {
              margin-left: -15px;
            }
            .separator {
              margin: 5px auto;
              border-color: #c1c2c6;
            }
            .total-wrapper {
              margin-bottom: 15px;
              div:nth-child(2) {
                p {
                  font-size: 18px;
                  color: $green;
                }
              }
            }
          }
          @media only screen and (max-width: 768px) {
            margin: 0;
          }
        }

        &.on-footer {
          top: auto;
          bottom: 540px;
          @media only screen and (min-width: 1215px) {
            bottom: 340px;
          }
        }

        @media only screen and (max-width: 991px) {
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          width: 100%;
        }
      }
      @media only screen and (max-width: 768px) {
        margin: 0;
        padding: 0;
      }
    }
    @media only screen and (max-width: 768px) {
      margin-top: 79px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .content {
      .content-wrapper {
        .row {
          margin-left: 0;
          margin-right: 0;
          div {
            padding-left: 1px;
            padding-right: 1px;
          }
        }
        .first-column {
          padding-left: 0;
          padding-right: 0;
          .row {
            input {
              margin-bottom: 5px;
            }
            label {
              display: none;
            }
            .pay-row {
              .pay-row-wrapper {
                .check-box {
                  margin-left: 5px;
                  margin-right: -8px;
                  padding-left: 0;
                }
                .no-tax-box {
                  padding-left: 0;
                  padding-right: 0;
                  .no-tax-box-wrapper {
                    padding-left: 0;
                    padding-right: 0;
                  }
                }
              }
            }
            div:nth-child(1) {
              img {
                width: 100%;
              }
            }
            &:nth-child(1) {
              .column-left, .column-right {
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
          .artist-container {
            margin: 3px;
          }
          .row:nth-child(2) {
            div {
              width: 100px;
              .form-control {}
            }
          }
        }
        .second-column {
          // float: left;
        }
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .container {
    .content {
      .content-wrapper {
        width: auto;
      }
    }
  }
}
