@import "mixins";
@import "colors";

$wrapper-size: 1135px;


.container {

  @include transition(all 1s ease-in-out);

  width: 100%;

  font-family: "PT Sans";
  font-style: normal;

  padding-left: 0!important;
  padding-right: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;

  header {

    position: absolute;
    width: 100%;

    /**
     * Top
     */
    .top {
      @include flexbox;
      height: 91px;
      // height: 78px;

      border-bottom: 1px solid rgba(94,108,149,1);
      background: rgba(0,0,0,0.2);

      .logo, nav, .contacto {
        display: inline-block;
      }

      .top-wrapper {

        -ms-box-orient: horizontal;
        @include flexbox;
        @include align-items(center);

        // width: 1024px;
        width: $wrapper-size;
        margin: 0 auto;

        ul {margin:0;}

        .logo {
          min-width: 200px;
          margin-top: 10px;
          width: auto;
          height: auto;
        }

        /**
         * Nav
         */
        .menu {
          @include flex-grow(2);

          background-color: transparent!important;
          border-color: transparent!important;

          .topNav {
            width: auto; // adjust
            margin-top: 35px!important;
            margin: 0;
            li {
              display:block;
              float:left;
              padding: 12px; //adjust
              a {
                font-weight: lighter;
                color: white;
                text-decoration: none;
                font-size: 16px;
              }

              &.selected {
                // position: relative;
                // display: inline-block;
                .dropdown-content { display: block; }
                ul {
                  margin: 5px 0px 0px 20px;
                  li {
                    a {
                      color: $gray!important;
                    }
                  }
                  &:hover {
                    border-bottom: none!important;
                  }
                }
                &.open {
                  a {
                    background-color: transparent!important;
                  }
                }
              }

              .dropdown-content {
                  display: none;
                  color: $gray;
                  position: absolute;
                  margin-top: 35px;
                  margin-left: -12px;
                  background-color: #f9f9f9;
                  min-width: 160px;
                  @include border-radius(0 0 5px 5px);
                  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
                  a {
                    color: $gray;
                    padding: 10px 16px;
                    text-decoration: none;
                    display: block;
                    &:hover { background: rgba(0,0,0,0.05); }
                    // Triangle
                    &::after {
                      content: '';
                      margin: 9px;
                      float: right;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-top: 5px solid $green;
                      transform: rotate(270deg);
                    }
                  }
              }

              &:hover {
                height: 80px;
                border-bottom: 4px solid $green;
              }
              // Triangle
              &::after {
                /*
                content: '';
                margin: 9px;
                float: right;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid white;
                */
              }
            }
            &:hover { /*margin-top: 23px;*/ }
          }

        }
        .search-box {
          display: none;

          width: auto;

          margin: 50px 0 0 0;
          padding: 0;

          text-align: center;

          @include flex-grow(2);

          .search-form {
            margin: 0 auto;
            input {
              width: 70%;
              font-size: 16px;
            }
            input, button {
              height: 40px;
            }
            button {
              width: 20%;
              &::before {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        &.search {

          .search-box {

            display: block;

          }
        }
        .contacto {
          color: white;
          width: auto;
          margin-top: 60px;
        }
      }

    }

  }

  .content {
    width: 100%;
    .header-box {

      background: url('../img/fondo-recitales.jpg') top center no-repeat transparent;
      color: white;
      height: 568px;


      .header-wrapper {

        width: 1024px;
        margin: 0 auto;

        /**
        * Search
        */
        .search {

          padding-top: 200px;

          margin: 0 auto;
          text-align: center;

          h2 {
            font-size: 46px;
            line-height: 0;
          }

          h3 { font-size:  30px; }

          .view-resent {
            width: 46%;
            height: auto;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
            margin: 10px auto 0;
            padding: 10px 0 10px 50px;
            @include border-radius(10px);
            text-align: left;

            h3 {
              color: $green;
              margin: 0;
              font-size: 20px;
              &::before {}
            }

            .item { color: $gray; }
          }

          span {
            width: 100%;
            text-align: left;
            font-size: 16px;
            margin-left: -35%;

          }
        }
      }
    }
  }

  footer {
    width: 100%;
    display: inline-block;

    // margin-top: 75px;
    border-top: 0.1px solid rgba(0,0,0,0.2);

    color: #5f5f5f;
    text-align: center;
    font-size: 18px;

    .wrapper-footer {
      // width: 1024px;
      width: $wrapper-size;
      height: 75px;
      margin: 0 auto;
      ul {
        margin: 45px;
        li {
          padding: 10px; //adjust

          float: left;
          display: block;

          a {
            color: $gray;
            text-decoration: none;
            &:hover { color: $green; }
          }

        }
      }
    }
    hr { clear: both; }
    p {
      margin: 43px auto;
      clear: both;
      width: 100%;
    }
  }
  @media only screen and ( min-width: 992px ){
    width: auto!important;
  }
  @media only screen and ( min-width: 768px ){
    width: auto!important;
  }
}

.lighter { font-weight: lighter; }

.hidden { display: none; }

.bold { font-weight: bolder; }

.button-menu {
  font-size: 16px;
  min-width: 165px;
  color: $green;
  @include border-radius(20px);
  border: 0.5px solid $green;
  background-color: transparent;
  margin: 0 10px 10px;
  padding: 5px;
}

.search-form {

  margin-bottom: 10px;

  *:focus { outline: none; }

  input, button {
    height: 68px;
    border: 0;
    box-sizing: border-box;
    vertical-align: middle;
  }

  input {
    width: 60%;
    margin-right: -5px;
    padding-left: 20px;
    color: $gray;
    @include border-radius(35px 0 0 35px);
    font-size: 23px;
  }

  button {
    width: 15%;
    font-size: 23px;
    @include border-radius(0 35px 35px 0);
    background-color: $green;
    padding-left: 10px;
    &::before {
      content: '';
      margin: -4px -20px 0 0;
      width: 35px;
      height: 35px;
      background-image: url('../img/search.svg');
      float: left;
    }
    // Media
    @media only screen and ( max-width: 950px )  {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

}
// $wrapper: calc(#{$wrapper-size} + 80px);
@media only screen and ( max-width: 1215px )  {

  .container {
    header {
      .top{
          .top-wrapper {
            padding-left: 40px;
            padding-right: 40px;
          }
      }
    }
    .content {
      .header-box {
        height: auto;
        background-size: cover;
        .header-wrapper {
          width: auto;
          .search {
            padding-top: 250px;
            padding-bottom: 50px;
            h2 {
              line-height: normal;
            }

          }
        }
      }
    }

    footer {
      .wrapper-footer {
        width: 100%;
        ul {
          li {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 15px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and ( max-width: 767px )  {

  .container {
    header {
      .top{
         height: auto;
         .top-wrapper {

           padding: 0;

           -webkit-flex-direction: column;
           flex-direction: column;

           align-items: center;
           justify-content: center;

           .logo {
             // margin: 15px;
             width: auto;
             img {
               max-width: 250px;
             }
           }
           .menu {
             width: 100%;
             margin-bottom: 0;
             .navbar-header {
               button {
                 margin-top: 34px;
               }
             }
             .navbar-collapse {
               background-color: rgba(0,0,0,0.5);
             }
             .topNav {
               li {
                 margin-top: 4px;
                 width: 90%;

                 margin: 0;
                 display: table-cell;

                 list-style-type: none;
                 vertical-align: middle;

                 .dropdown-content {
                   margin-top: 16px;
                 }

                 &:hover {
                   // height: auto;
                   // border-bottom: 4px solid $green;
                   // margin-bottom: -4px;
                 }
               }
               .selected {
                 &.open {
                   a {
                     background-color: transparent;
                   }
                   ul {
                     .divider {
                       background-color: transparent;
                     }
                   }
                 }
               }
               &:hover {
                 // margin-top: 0;
               }
             }
           }
           .search-box {}
           .contacto {}
         }
      }
    }
    .content {
      .header-box {
        .header-wrapper {
          .search {
            padding-top: 300px;
            span {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
