@import "mixins";
@import "colors";

.container {

  width: 100%;

  font-family: "PT Sans";
  font-style: normal;

  header {

    position: absolute;
    width: 100%;

    /**
     * Top
     */
    .top {
      @include flexbox;
      height: 78px;

      border-bottom: .5px solid rgba(255,255,255,0.3);
      background: rgba(0,0,0,0.2);

      .logo, nav, .contacto {
        display: inline-block;
      }

      .top-wrapper {

        -ms-box-orient: horizontal;
        @include flexbox;
        @include align-items(center);

        // width: 1024px;
        width: 1135px;
        margin: 0 auto;

        ul {margin:0;}

        .logo {
          min-width: 200px;
          margin-top: -12px;
        }

        /**
         * Nav
         */
        .menu {
          @include flex-grow(2);
          .topNav {
            width: auto; // adjust
            margin-top: 14px;
            margin: 0;
            li {
              display:block;
              float:left;
              padding: 12px; //adjust
              a {
                font-weight: lighter;
                color: white;
                text-decoration: none;
                font-size: 16px;
              }

              &.selected {
                // position: relative;
                // display: inline-block;
                .dropdown-content { display: block; }
              }

              .dropdown-content {
                  display: none;
                  color: $gray;
                  position: absolute;
                  margin-top: 27px;
                  margin-left: -12px;
                  background-color: #f9f9f9;
                  min-width: 160px;
                  @include border-radius(0 0 5px 5px);
                  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
                  a {
                    color: $gray;
                    padding: 10px 16px;
                    text-decoration: none;
                    display: block;
                    &:hover { background: rgba(0,0,0,0.05); }
                    // Triangle
                    &::after {
                      content: '';
                      margin: 9px;
                      float: right;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-top: 5px solid $green;
                      transform: rotate(270deg);
                    }
                  }
              }
              &:hover {
                height: 33px;
                border-bottom: 4px solid $green;
              }
              // Triangle
              &::after {
                content: '';
                margin: 9px;
                float: right;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid white;
              }
            }
            &:hover { margin-top: 14px; }
          }

        }
        .search-box {
          display: none;
        }

        &.search {

          .search-box {

            display: block;
            vertical-align: middle;
            @include flex-grow(2);

            .search-form {
              margin: 0 auto;
              input {
                font-size: 16px;
              }
              input, button {
                height: 40px;
              }
              button {
                &::before {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
        .contacto {
          color: white;
        }
      }

    }

  }

  .content {
    width: 100%;
    .header-box {

      background: url('../img/fondo-recitales.jpg') top center no-repeat transparent;
      color: white;
      height: 568px;


      .header-wrapper {

        width: 1024px;
        margin: 0 auto;

        /**
        * Search
        */
        .search {

          padding-top: 200px;

          margin: 0 auto;
          text-align: center;

          h2 {
            font-size: 46px;
            line-height: 0;
          }

          h3 { font-size:  30px; }

          .view-resent {
            width: 46%;
            height: auto;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
            margin: 10px auto 0;
            padding: 10px 0 10px 50px;
            @include border-radius(10px);
            text-align: left;

            h3 {
              color: $green;
              margin: 0;
              font-size: 20px;
              &::before {}
            }

            .item { color: $gray; }
          }

          span {
            width: 100%;
            text-align: left;
            font-size: 16px;
            margin-left: -35%;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    display: inline-block;

    margin-top: 75px;
    border-top: 0.1px solid rgba(0,0,0,0.2);

    color: $gray;
    text-align: center;

    .wrapper-footer {
      width: 1024px;
      // width: 1135px;
      height: 75px;
      margin: 0 auto;
      ul {
        margin: 45px;
        li {
          padding: 10px; //adjust

          float: left;
          display: block;

          a {
            color: $gray;
            text-decoration: none;
            &:hover { color: $green; }
          }

        }
      }
    }
    hr { clear: both; }
    p {
      clear: both;
      width: 100%;
    }
  }
}

.lighter { font-weight: lighter; }

.hidden { display: none; }

.bold { font-weight: bolder; }

.button-menu {
  font-size: 16px;
  min-width: 165px;
  color: $green;
  @include border-radius(20px);
  border: 0.5px solid $green;
  background-color: transparent;
  margin: 0 10px 10px;
  padding: 5px;
}

.search-form {

  *:focus { outline: none; }

  input, button {
    height: 70px;
    border: 0;
    box-sizing: border-box;
    vertical-align: middle;
  }

  input {
    width: 60%;
    margin-right: -5px;
    padding-left: 20px;
    color: $gray;
    @include border-radius(35px 0 0 35px);
    font-size: 23px;
  }

  button {
    width: 15%;
    font-size: 23px;
    @include border-radius(0 35px 35px 0);
    background-color: $green;
    padding-left: 10px;
    &::before {
      content: '';
      margin: -4px -20px 0 0;
      width: 35px;
      height: 35px;
      background-image: url('../img/search.svg');
      float: left;
    }
  }
}

@media only screen and ( max-width: 780px )  {
  body {
    background-color: red;
  }
  .container {
    header {
      .header-wrapper {
        width: auto;
      }
    }
  }
}
