@import "mixins";
@import "colors";

.container {
  .content {
    .header-box {
      // height: 300px!important;
      background-position: bottom!important;
      .header-wrapper {
        width: 1135px!important;
        .search {
          padding-top: 180px!important;
          margin: 0;
          text-align: left!important;
          h1 {
            font-size: 30px;
            margin-left: 14px;
          }
          // @todo put in common.
          .breadcrumb {
            font-size: 25px;
            background-color: transparent;
            li {
              a {
                color: white;
              }
            }
          }

        }
      }
    }
    .section {
      margin: 50px auto 0;
      width: 1135px;
      text-align: center;
      p {
        //margin: 20px 0;
      }
      .article {
        text-align: left;
        .first-column {
          .box-artista {
            // margin: 0 auto;
            .box-artista-wrapper {
              // left: 50%;
              // transform: translateX(150px);
              div:nth-child(1) {
                border: .8px solid $light-gray;
                // text-align: right;
                .row {
                  margin: 16px;
                  text-align: center;
                }
              }
              div:nth-child(2) {
                padding: 0;
                margin: 0;
                // text-align: left;
                // text-align: left;
                // padding: 0;
              }
            }
          }
        }
        .second-column {

          .row:nth-child(1) {

            .location {
              vertical-align: middle;
              div:nth-child(2) {
                h3 {
                  margin-top: 0;
                }
              }
              div:nth-child(3) {
                span {
                  color: #c1c1c1;
                  font-size: 20px;
                }
              }
            }
            .row:nth-child(2) p{
              padding: 10px 20px;
            }

          }

          .row:nth-child(2) {
            table {
              thead {
                background-color: $light-gray;
                tr {
                  th {
                    text-align: center;
                  }
                  th:nth-child(1) {
                    width: 40%;
                    min-width: 250px;
                  }
                  th:nth-child(2) {width: 15%;}
                  th:nth-child(3) {width: 25%;}
                  th:nth-child(4) {width: 20%;}
                }
              }
              tbody {
                tr {
                  text-align: center;
                  td:nth-child(2) {
                    padding-top: 20px;
                  }
                  td:nth-child(1) p, td:nth-child(3) p {
                    margin-top: 10px;
                  }
                  td:nth-child(1) {
                    div, p, img {
                      vertical-align: middle;
                    }
                    div {
                      float: left;
                      margin: 10px 10px 0;
                    }
                    p {
                      float:left;
                      font-size: 18px;
                      font-weight: bolder;
                      overflow: hidden;
                    }
                    img {
                      float:right;
                      margin-top: 5px;
                    }
                  }
                  td:nth-child(3) {
                    font-size: 18px;
                    font-weight: bolder;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .content {
      .header-box {
        .header-wrapper {
          width: auto!important;
        }
      }
      .section {
        width: auto;
        padding: 0 20px;
        .article {
          .text-block {
            // width: 100%;
            // float: none;
          }
          .second-column {
            table {
              tbody {
                tr {
                  td:nth-child(1) {
                    .square, .icon-ticket {
                      // margin: 0 auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1135px) {
  .container {
    .content {
      .section {
        // width: auto;
        padding: 0 20px;
        .article {}
      }
    }
  }
}
