.container .content .header-box {
  background-position: bottom !important; }
  .container .content .header-box .header-wrapper {
    width: 1135px !important; }
    .container .content .header-box .header-wrapper .search {
      padding-top: 180px !important;
      margin: 0;
      text-align: left !important; }
      .container .content .header-box .header-wrapper .search h1 {
        font-size: 30px;
        margin-left: 14px; }
      .container .content .header-box .header-wrapper .search .breadcrumb {
        font-size: 25px;
        background-color: transparent; }
        .container .content .header-box .header-wrapper .search .breadcrumb li a {
          color: white; }
.container .content .section {
  margin: 50px auto 0;
  width: 1135px;
  text-align: center; }
  .container .content .section .article {
    text-align: left; }
    .container .content .section .article .first-column .box-artista .box-artista-wrapper div:nth-child(1) {
      border: 0.8px solid #f6f4f5; }
      .container .content .section .article .first-column .box-artista .box-artista-wrapper div:nth-child(1) .row {
        margin: 16px;
        text-align: center; }
    .container .content .section .article .first-column .box-artista .box-artista-wrapper div:nth-child(2) {
      padding: 0;
      margin: 0; }
    .container .content .section .article .second-column .row:nth-child(1) .location {
      vertical-align: middle; }
      .container .content .section .article .second-column .row:nth-child(1) .location div:nth-child(2) h3 {
        margin-top: 0; }
      .container .content .section .article .second-column .row:nth-child(1) .location div:nth-child(3) span {
        color: #c1c1c1;
        font-size: 20px; }
    .container .content .section .article .second-column .row:nth-child(1) .row:nth-child(2) p {
      padding: 10px 20px; }
    .container .content .section .article .second-column .row:nth-child(2) table thead {
      background-color: #f6f4f5; }
      .container .content .section .article .second-column .row:nth-child(2) table thead tr th {
        text-align: center; }
      .container .content .section .article .second-column .row:nth-child(2) table thead tr th:nth-child(1) {
        width: 40%;
        min-width: 250px; }
      .container .content .section .article .second-column .row:nth-child(2) table thead tr th:nth-child(2) {
        width: 15%; }
      .container .content .section .article .second-column .row:nth-child(2) table thead tr th:nth-child(3) {
        width: 25%; }
      .container .content .section .article .second-column .row:nth-child(2) table thead tr th:nth-child(4) {
        width: 20%; }
    .container .content .section .article .second-column .row:nth-child(2) table tbody tr {
      text-align: center; }
      .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(2) {
        padding-top: 20px; }
      .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(1) p, .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(3) p {
        margin-top: 10px; }
      .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(1) div, .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(1) p, .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(1) img {
        vertical-align: middle; }
      .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(1) div {
        float: left;
        margin: 10px 10px 0; }
      .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(1) p {
        float: left;
        font-size: 18px;
        font-weight: bolder;
        overflow: hidden; }
      .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(1) img {
        float: right;
        margin-top: 5px; }
      .container .content .section .article .second-column .row:nth-child(2) table tbody tr td:nth-child(3) {
        font-size: 18px;
        font-weight: bolder; }

@media only screen and (max-width: 1024px) {
  .container .content .header-box .header-wrapper {
    width: auto !important; }
  .container .content .section {
    width: auto;
    padding: 0 20px; } }
@media only screen and (max-width: 1135px) {
  .container .content .section {
    padding: 0 20px; } }

/*# sourceMappingURL=tickets.css.map */
