@import 'reset';

// font-face
@font-face{ 
  font-family: 'MuseoSans100';
  src: url('../font/museosans-100-webfont.eot');
  src: url('../font/museosans-100-webfont.eot?iefix') format('eot'),
       url('../font/museosans-100-webfont.woff2') format('woff2'),
       url('../font/museosans-100-webfont.woff') format('woff'),
       url('../font/museosans-100-webfont.ttf') format('truetype'),
       url('../font/museosans-100-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{ 
  font-family: 'MuseoSans500';
  src: url('../font/museosans-500-webfont.eot');
  src: url('../font/museosans-500-webfont.eot?iefix') format('eot'),
       url('../font/museosans-500-webfont.woff2') format('woff2'),
       url('../font/museosans-500-webfont.woff') format('woff'),
       url('../font/museosans-500-webfont.ttf') format('truetype'),
       url('../font/museosans-500-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

// box-sizing for everyone!
html { box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: MuseoSans100, Verdana, Geneva, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body { width: 100%; }

.container {
  background-color: #fff;
  display: flex;  /* use the flex model */
  min-height: 100%;
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}

.content { flex: 1; }

// menu
.menu {
  background-color: #2b333d;
  display: flex;  /* use the flex model */
  min-height: 100%;
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

  .slogan {
    color: #fff;
    font-size: 14px;
    padding: 30px 0;
    text-align: center;
  }

  .heart {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #c0392b;
    text-decoration: none;
  }
}

.menu-content { flex: 1; }

.menu-list {
  color: #fff;
  font-size: 16px;

  li {
    border-bottom: 1px dashed #4f6071;
    display: block;

    a {
      color: inherit;
      display: block;
      padding: 20px 30px;
      text-decoration: none;
    }
  }
}

.menu-footer {
  background-color: #242d36;
  text-align: center;
  padding: 15px;

  p {
    color: #465768;
    font-size: 10px;
    line-height: 1.4;

    a { color: inherit; }
  }
}

// header
.header {
  background-color: #eaebed;
  padding: 13px 0 9px 0;
  position: relative;
  text-align: center;

  h1 {
    color: #418fcd;

    img {
      display: inline-block;
      width: 200px;
    }
  }
}

.hamburguer-button {
  background: url('../img/hamburguer-icon.png') no-repeat scroll center center transparent;
  background-size: 22px auto;
  border: none;
  display: block;
  outline: none;
  padding: 5px;
  width: 32px;
  height: 33px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

// content

// content > content-search
.content-search { padding: 15px; }

.search-event-input {
  background: url('../img/search-icon.png') no-repeat scroll 0 center transparent;
  background-size: 27px auto;
  border: 0;
  color: #a6adae;
  font-family: MuseoSans100, Verdana, Geneva, sans-serif;
  font-size: 22px;
  display: block;
  outline: 0;
  padding-left: 42px;
  width: 100%;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: inherit;
    opacity: 1;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: inherit;
    opacity: 1;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: inherit;
    opacity: 1;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: inherit;
    opacity: 1;
  }
}

// content > event-preview
.event-preview {
  display: block;
  overflow: hidden;
  position: relative;
}

.event-preview-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100% !important;
}

.event-preview-caption {
  background-color: rgba(0, 0, 0, .6);
  padding: 10px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  h1, h2 {
    color: #fff;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h1 {
    font-family: MuseoSans500, Verdana, Geneva, sans-serif;
    font-size: 34px;
  }

  h2 { font-size: 16px; }
}

// content > content-banner
.content-banner {
  box-shadow: inset 0 -50px 50px 0 rgba(0, 0, 0, .25);
  position: relative;
}

.content-banner-title {
  color: #fff;
  font-family: MuseoSans500, Verdana, Geneva, sans-serif;
  font-size: 24px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 1;
}

.content-banner-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100% !important;
  position: relative;
  z-index: -1;
}

// EntradaFan_UX_Categoria1_V3
.content-list {

  .list-item {
    border-bottom: 1px solid #c4cccf;
    color: #232d38;
    display: block;
    font-size: 16px;
    padding: 30px 15px;
    position: relative;
    text-decoration: none;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent transparent transparent #438ecd;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }
}

// EntradaFan_UX_Categoria2_V3
.content-list {

  .list-item-event {
    border-bottom: 1px solid #c4cccf;
    color: #232d38;
    display: block;
    padding: 25px 0;
    text-decoration: none;
  }
}

.event-item {
  line-height: 1.4;

  @media screen and (min-width: 414px) {
    width: 100%;
  }

  td {
    padding: 0 15px;
    vertical-align: middle;
  }

  .event-time {
    font-size: 12px;
    text-align: center;
  }

  .event-desc {
    line-height: 1.2;
    padding-left: 0;

    h2, p {
      max-width: 202px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h2 {
      font-family: MuseoSans500, Verdana, Geneva, sans-serif;
      font-size: 16px;
    }

    p { font-size: 14px; }
  }

  .event-price {
    display: none;
    font-size: 12px;
    line-height: 1.2;
    padding-left: 0;
    text-align: right;
    
    @media screen and (min-width: 414px) {
      display: table-cell;
    }

    span {
      display: block;
      font-family: MuseoSans500, Verdana, Geneva, sans-serif;
      font-size: 16px;
    }
  }
}

// footer
.footer {
  background-color: #232d37;
  padding: 25px 15px;
  text-align: center;

  p {
    color: #465769;
    font-size: 12px;
    line-height: 1.4;

    a { color: inherit; }
  }

  p:first-child {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 25px;
  }
}

// slideout
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 281px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  // display: block;
  display: flex;
}